body{margin:0;padding:.5em}
h1,h2,h3,h4,h5,h6,hr,p,th,td,a,pre,pre code,ul,ol,li{margin:0;padding:0}
body,div,p,table,ul,ol{font:16px "SimSun","宋体","Arial Narrow",HELVETICA}
h1,h2,h3,h4,h5,h6{font-family:"Microsoft YaHei","微软雅黑","SimHei","黑体";padding:.3em 0}
p{padding:.3em 0}
ul{list-style:circle inside}
ol{list-style-position:inside}
table{border-collapse: collapse}
table,th,tr,td{border:1px solid gray}
th,td{padding:1px 3px}
a{text-decoration:none;color:#2a7ae2}
a:visited{color:#1756a9}
a:hover{text-decoration:underline;color:black}
code{padding:1px 2px}
pre{border:1px solid #ccc;background-color:#f0f0f0;padding:5px}
.site-header{border-bottom:1px solid #ddd;margin-bottom:5px;padding-bottom:5px}
.site-footer{border-top:1px solid #ddd;margin-top:5px;padding-top:5px;padding-bottom:10px}
.wrapper{width:100%;max-width:960px;margin:0 auto}
.site-title h1{font-size:160%;padding:0}
.site-title h2{font-size:100%;padding:0}
.site-title a{text-decoration:none;color:#666;margin:0;padding:0}
.site-nav a{color:gray}
.site-nav a:hover{color:red}
.site-nav{text-align:right}
.nav-item{padding-right:10px}
.post-time{color:gray}
.post-tag{padding-right:6px}
.post-tag a{color:gray;font-weight:700;padding:0;margin:0}
.post-tag a:hover{color:red}
.post-nav{width:100%;overflow:auto;margin-top:15px}
.post-nav-prev{display:block;width:50%;float:left;text-align:left}
.post-nav-next{display:block;width:50%;float:right;text-align:right}
.copy{text-align:center}
