{{ define "main" -}}
<div class="title">
  <h1>{{ .Title }}</h1>
  {{ with .Params.Subtitle -}}
  <h2>{{ . }}</h2>
  {{ end -}}
</div>
<div style="position: fixed; right:-30px; max-width:300px; overflow:auto; top: 1px; width: 300px; bottom:100px">
{{ partial "search.html" . }}
</div>
<div class="meta">
  {{ if .Date -}}
  <div>{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02 15:04") }}</div>
  {{ end -}}
  {{ $taxo := "tags" -}}
  {{ if .Param $taxo -}}
  <div>
    {{ range .Param $taxo -}}
      {{ $name := . -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) -}}
    <span><a href="{{ .Permalink }}">#{{ $name }}</a></span>
      {{ end -}}
    {{ end -}}
  </div>
  {{ end -}}
</div>
<div class="content">
  {{ .Content -}}
</div>
<div style="position: fixed; right:50px; max-width:255px; overflow:auto; top: 120px; width: 220px; bottom:90px">
{{ partial "toc.html" . }}
</div>
{{ end -}}
